body {
    font-family: Arial, sans-serif;
    background-image:url(images/99px_ru_wallpaper_354617_novogodnjaja_elka_na_puti_k_cerkvi.jpg);
    background-size: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
    position: relative;
}

.container {
    text-align: center;
    padding: 2rem;
    z-index: 10;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.countdown {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.time-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 120px;
}

.time-block span {
    font-size: 4rem;
    font-weight: bold;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    padding: 1rem;
    width: 120px;
    margin-bottom: 0.5rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.time-block p {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

