* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-image: url(99px_ru_wallpaper_354617_novogodnjaja_elka_na_puti_k_cerkvi.jpg);
    background-size: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    overflow: hidden;
    position: relative;
}

/* Стили для холста со снежинками */
.snow-canvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    pointer-events: none; /* Пропускаем клики через холст */
}

.container {
    text-align: center;
    padding: 2rem;
    z-index: 10;
}

.location-info {
    margin-bottom: 1rem;
    background: rgba(255, 255, 255, 0.1);
    padding: 0.5rem 1rem;
    border-radius: 5px;
}

.location-info p {
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: 1px;
}

.current-time {
    margin: 1rem 0 2rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fbfaf6;
    text-shadow: 0 0 8px rgba(255, 219, 77, 0.5);
    background: rgba(0, 0, 0, 0.3);
    padding: 0.5rem 1.5rem;
    border-radius: 50px;
    display: inline-block;
}

h1 {
    font-size: 2.5rem;
    margin-bottom: 2rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
}

.countdown {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.5rem;
}

.time-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 120px;
}

.time-block span {
    font-size: 4rem;
    font-weight: bold;
    background: rgba(255, 255, 255, 0);
    border-radius: 10px;
    padding: 1rem;
    width: 120px;
    margin-bottom: 0.5rem;
    text-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.time-block p {
    font-size: 1.2rem;
    text-transform: uppercase;
    letter-spacing: 1px;
}

#fireworks-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;
}

.hidden {
    display: none;
}

/* Анимация для счетчика */
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}

.pulse {
    animation: pulse 0.5s ease-in-out;
}

/* Адаптивность для мобильных устройств */
@media (max-width: 768px) {
    .current-time {
        font-size: 1.2rem;
    }
    
    h1 {
        font-size: 2rem;
    }
    
    .time-block span {
        font-size: 3rem;
        width: 100px;
    }
}